<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - FidélityApp</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/protected/home.css">
    <link rel="stylesheet" href="/css/protected/profile.css">
    <!-- Sidebar CSS (déjà inclus dans votre partial) -->
    
 
</head>
<body>
    <!-- Include Sidebar Partial -->
    <%- include('partials/sidebar') %>


    <script src="/js/protected/profile.js"></script>
    <script src="/js/protected/home.js"></script>
</body>
    </html>